| Approach | Private Score | Public Score |
| :---        |    :----:   |          ---: |
| LightGBM      | 0.79407       | 0.78428   |
| KNN   | 0.46338        | 0.45411      |